<div class="login-container">

  <div class="login-card">

    <div class="logo">
      <mat-icon>security</mat-icon>
      <h2>Incident Intelligence Platform</h2>
      <p>Sign in to continue</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <mat-form-field appearance="outline">
        <mat-label>Username / Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Enter email or username"
          autocomplete="username">
        <mat-icon matSuffix>person</mat-icon>
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <mat-error>Username / Email is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>

        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          autocomplete="current-password">

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword">

          <mat-icon>
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>

        </button>

        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <mat-error>Password is required</mat-error>
        }

      </mat-form-field>

      <!-- Inline API error message -->
      @if (errorMessage) {
        <p class="error-msg">{{ errorMessage }}</p>
      }

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="login-btn"
        [disabled]="isLoading">

        @if (isLoading) {
          <mat-spinner diameter="22" color="accent"></mat-spinner>
        } @else {
          Login
        }

      </button>

    </form>

  </div>

</div>