@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    height: 100%;
}

body {
    background: #f5f5f5;
}

.p-overlay {
    z-index: 999999 !important;
}

.p-overlay-content {
    z-index: 999999 !important;
}

.p-select-overlay {
    z-index: 999999 !important;
}
/* Material dialog container */
.cdk-overlay-container {
    z-index: 99999 !important;
}
.mat-mdc-dialog-container,
.mdc-dialog__surface,
.mat-mdc-dialog-content {
    overflow: visible !important;
}